html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.page-wrapper {
  position: relative;
}

.header-wrapper {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #111;
  box-shadow: 0 0 10px 1px #111;
  color: #fff;
  top: 0;
}

.wrapper-logo {
  width: 65%;
  height: 100%;
}

.wrapper-logo img {
  width: auto;
  height: 100%;
  color: #fff;
  object-fit: contain;
  margin-left: 20px;
}

nav {
  width: 35%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  justify-content: end;
  flex-direction: row;
  height: 100%;
  margin: 0;
}

nav ul li {
  list-style: none;
  text-align: center;
  width: 120px;
}

.nav-link {
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  transition-duration: 0.1ms;
}

.nav-link:hover {
  text-decoration: underline;
  transition-duration: 0.4s;
  color: #ff700f;
}

.grid {
  display: block;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
}

.margin {
  width: 100%;
  margin-top: 60px;
}

.section-title {
  display: block;
  margin-top: 40px;
  color: #ff700f;
}

.section-title h3 {
  margin: 10px 0;
}

p {
  margin-top: 0;
}

.section-content-video {
  display: flex;
  justify-content: space-around;
}

.section-content {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.grid-template-1 {
  grid-template-columns: auto auto auto;
}

#video {
  width: 90%;
  height: 400px;
}

.product-square {
  height: 400px;
  min-width: 300px;
  margin-bottom: 50px;
  border: 1px solid #ff700f;
}

.margin-zero {
  margin-bottom: 0; 
}

.product-picture {
  height: 220px;
  text-align: center;
}

.product-picture img {
  height: 100%;
  border-bottom: 1px solid #ff700f;
}

.product-information {
  width: 90%;
  margin: 20px auto;
}

.product-information h3 {
  margin: 0;
  color: #ff700f;
}

.product-name {
  display: block;
  width: 100%;
}

.product-name h5 {
  margin: 5px auto;
}

.price-information {
  display: flex;
}

.price-information p {
  margin: 0;
}

.pay-information h6 {
  margin: 0;
}

.product-description {
  display: inline-block;
  text-align: justify;
  font-size: 0.9rem;
  width: 260px;
  margin: 20px auto;
}

#about .section-content p:last-child {
 margin-bottom: 0;
}

.align-justify {
  text-align: justify;
}

.contact-email {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.contact-email input {
  width: 48%;
}

.contact-textarea {
  width: auto;
}

.contact-textarea textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.wrapp-button {
  float: right;
}

#contact {
  margin-bottom: 70px;
}

.btn  {
  width: 120px;
  height: 35px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: 0;
  text-align: center;
  float: right;
}

.btn:hover {
  transition-duration: 0.3s;
  color: #000;
  background-color: #ff700f;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ff700f;
  color: #000;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0 0 10px 1px #111;
}

.footer p {
  line-height: 50px;
}

@media screen and (max-width: 1024px) {
  .grid-template-1 {
    grid-template-columns: auto auto;
  }

  .section-content {
    justify-content: space-around;
  }
}

@media screen and (max-width: 680px) {
  .grid-template-1 {
    grid-template-columns: auto;
  }

  .section-content {
    justify-content: space-around;
  }

  .margin-zero {
    margin-bottom: 50px; 
  }

  .margin-zero:last-child {
    margin-bottom: 0; 
  }

  .contact-email {
    display: block;
  }

  .contact-email input {
    width: 98%;
  }
}

